{% extends "templates/layout.njk" %}
{% block style %}
<link rel="stylesheet" href="/static/css/resultado.css">{% endblock %}

{% block content %}
<main class="main-content">
    <header class="result-header">
        <h1 class="gold-title">Análise de Party Concluída</h1>
    </header>



    <div class="result-actions">
        <button class="btn-secondary" onclick="window.location.href='/personalizar'">Novo Escaneamento</button>
        <button class="btn-primary" onclick="window.print()">Exportar PDF da Party</button>
    </div>
    <script>
        //Transforma o 'data' do Express em uma variável pro navegador
        const stringDoBanco = '{{ data | dump | safe }}';
        const buildsDoBanco = JSON.parse(stringDoBanco);
    </script>

    <script src="/static/scripts/resultado.js"></script>

    {% endblock %}