<nav class="bg3-navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <span style="color: #c19a6b;">BG3</span>BuildFinder
        </div>
        <ul class="nav-links">
            <li><a href="/" class="nav-link">Página Inicial</a></li>
            <li><a href="/personalizar" class="nav-link">Builds Personalizadas</a></li>
            <li><a href="/builds" class="nav-link">Todas as Builds</a></li>
        </ul>
    </div>
</nav>